.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        url("https://images.pexels.com/photos/1083633/pexels-photo-1083633.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
}

.loginTitle {
    font-size: 55px;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width:250px;
    /* border:5px soltd red; */
}

.loginForm>Label {
    margin: 10px 0;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(240, 186, 186);
}
.loginRegisterButton{
    position: absolute;
    top: 60px;right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    color: white;
    padding: none;
    border-radius: 10px;
    
}